*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    font-size: 20PX;
}

.fondoquienes{
    background-image: url(../Multimedias/fondomarm.jpg);
}

a{color: #000;
    text-decoration: none;
}

a:hover{
    color: #ff0000;
}

.subtitulo {
             font: corsiva;
             font-size: 25px;
             color: #000;
             font-style: italic;
             text-align: center;
             display: block;
}

.subtitulo_indumentariayaccesorios{
       display:block;
       color: #000;
       text-align: center;
}

.contenido1 {
    display: block;
    max-width: 20%;
    margin-left: 20px;
}

.formulario {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 100px;
    font-size: 40px;
}

.fondo{
    background-image: url(../Multimedias/fondocontac.jpg);
    background-size: cover;
}

.titulo3{
    text-align: center;
   font-size: 45px;
   color: #000;
   height: 110px;
}

.maps{
    text-align: center;
    display: inline-block;
    width: 700px;
}

footer{
    background-image: url(../Multimedias/oro.jpg);
    background-size: cover;    
}

.tituloredes{
    text-align: center;
    font-size: 25px;
    display: inline;
    font-style: oblique;
}

.redes{
    text-align: center;
    font-size: 82px;
    display: inline;
}

.contenedor_quienessomos{
    text-align: center;
}

.contenedor_contactos{
    text-align: center;
}

.contenedor_realizarpedidos{
text-align: center;
}

section{
    background-image: url(../Multimedias/fondomarm.jpg);
}

.section_nuestrosproductos{
width: 100%;
}

div:hover{
    border: solid 1px blue;
}

.contenedor_nuestrosproductos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-rows: min-content;
    row-gap: 15px;    
}

.texto_nuestrosproductos{
    grid-row: 2/5;
    grid-column: 1/2;
    grid-template-rows: max-content;
}

.titulo_nuestrosproductos{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

.topraso{
    grid-row: 2/3;
    grid-column: 2/3; 
    grid-template-rows: min-content;
    text-align: center;
}

.imgtopraso{
     width: 290px;
}

.topdeport{
    grid-row: 2/3;
    grid-column: 3/4; 
    text-align: center;
} 

.topdeportivo{
    width: 280px;   
}

.moños{
    grid-row: 4/5;
    grid-column: 2/4;
    text-align: center;    
}

.imgmoños{
    width: 400px;
}

.portacosmeticos{
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
}

.imgporta{
    width: 380px;
}

.body{
    text-align: center;
    grid-row: 3/4;
    grid-column: 2/3;
}

.imgbody{
    width: 365px;
}


div.contenedor_index {
    border: solid 1px blue;}

.imagen1{
    width: 130px;
}

.fotohombre{
    width: 230px;
     justify-content: center;
}

.imagen3{
    width: 180px;
}

.imagen4{
    width: 250px;
}


@media only screen and (max-width:468px){

.item_index{
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../Multimedias/valentine-day-romantic-background-free-photo.jpg);
    background-size: cover;
    
}

li { font-size: 15px;}

.item {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.titulo_index 
    { font-size: 20px;
    text-align: center;
    display: block;
    width: min-content;
    }

.nav_index{
    grid-area: nav;

    display: flex;
    
}

.subtitulo{ 
    grid-area: subtitulo;
    text-align: center;
    display: block;
}

.subtitulo_indumentariayaccesorios{
    grid-area: subtitulo_indumentariayaccesorios;
    text-align: center;
    display: block;
}

.contenido_mujer{
    grid-area: contenido_mujer;
    text-align: center;
    max-width: min-content;
    text-align: justify;
}

.contenido_hombre{
    grid-area: contenido_hombre;
    text-align: center;
    max-width: min-content;
    text-align: justify;
    margin-left: 40px;}
    

.contenido_ninos{
    grid-area: contenido_ninos;
    text-align: justify;
    max-width: min-content;
    margin-bottom: 60px;
}

.contenido_accesorios{
    grid-area: contenido_accesorios;
    justify-content: center;
    max-width: min-content;
    text-align: justify;
    margin-left: 20px;

}

.section_index{
    text-align: center;
}

.contenedor_index{
   display: flex;
   flex-direction: row;
   gap: 20px;
   flex-wrap: wrap;
   margin-top: 50px;
   margin-right: 10px;
   margin-left: 10px;
   margin-right: 10px;

}

.tituloventa{
    text-align: center;
    font-size: px;
}


.section_index{
    display: flex;
    flex-direction: column;
}

.imagen1{
    width: 140px;
}

.fotohombre{
    width: 208px;
     justify-content: center;
}

.imagen3{
    width: 160px;
}

.imagen4{
    width: 200px;

}

footer{
    grid-area: footer;
    background-size: cover;
}

ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.tituloredes{
    width: min-content;
}
.face{
    width: 50px;
}
.insta{
    width: 50px;
}
.correo{
    width: 50px;
}
.wpp{
    width: 50px;
}
}

@media only screen and (max-width:468px){

.item_quienessomos{
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../Multimedias/valentine-day-romantic-background-free-photo.jpg);
    background-size: cover;}

    li { font-size: 15px;}

.item {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.titulo_index 
    { font-size: 20px;
    text-align: center;
    display: block;
    width: min-content;
    }
    footer{
        grid-area: footer;
        background-size: cover;
        padding-top: 38px;
    }
    
    ul{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .tituloredes{
        width: min-content;
    }
    .face{
        width: 50px;
    }
    .insta{
        width: 50px;
    }
    .correo{
        width: 50px;
    }
    .wpp{
        width: 50px;
    }
.contenedor_quienes{
    width: 450px;
}

}



@media only screen and (min-width:468px) and (max-width:1023px) {
    .item_index{
        display: flex;
        flex-direction: row-reverse;
        background-image: url(../Multimedias/valentine-day-romantic-background-free-photo.jpg);
        background-size: cover;
        
    }
    
    li { font-size: 17px;}
    
    .item {
        display: flex;
        text-align: center;
        flex-direction: row;
        margin-top: 40px;
        gap: 15px;
    }
    
    .titulo_index 
        { font-size: 35px;
        text-align: center;
        display: block;
        width: min-content;
        font: cursiva;
        font-style: italic;
        margin-top: 80px;
        max-width: min-content;
        padding-right: 10px;
        }
    
    .nav_index{
        grid-area: nav;
        display: flex;   
        height: 200px; 
    }
    
    .subtitulo{ 
        grid-area: subtitulo;
        text-align: center;
        display: block;
    }
    
    .subtitulo_indumentariayaccesorios{
        grid-area: subtitulo_indumentariayaccesorios;
        text-align: center;
        display: block;
    }
    
    .contenido_mujer{
        grid-area: contenido_mujer;
        text-align: center;
        max-width: min-content;
        text-align: justify;
    }
    
    .contenido_hombre{
        grid-area: contenido_hombre;
        text-align: center;
        max-width: min-content;
        text-align: justify;
        margin-left: 40px;}
        
    
    .contenido_ninos{
        grid-area: contenido_ninos;
        text-align: justify;
        max-width: min-content;
        margin-bottom: 60px;
    }
    
    .contenido_accesorios{
        grid-area: contenido_accesorios;
        justify-content: center;
        max-width: min-content;
        text-align: justify;
        margin-left: 20px;
    
    }
    
    .section_index{
        text-align: center;
    }
    
    .contenedor_index{
       display: flex;
       flex-direction: row;
       gap: 25px;
       flex-wrap: wrap;
       margin-top: 50px;
       justify-content: space-around;
    }
    
    .tituloventa{
        text-align: center;
        font-size: px;
    }
    
    
    .section_index{
        display: flex;
        flex-direction: column;
    }
    
    .imagen1{
        width: 140px;
    }
    
    .fotohombre{
        width: 208px;
         justify-content: center;
    }
    
    .imagen3{
        width: 200px;
    }
    
    .imagen4{
        width: 250px;
    
    }
    
    footer{
        grid-area: footer;
        background-size: cover;
    }
    
    ul{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .tituloredes{
        width: min-content;
    }
    .face{
        width: 50px;
    }
    .insta{
        width: 50px;
    }
    .correo{
        width: 50px;
    }
    .wpp{
        width: 50px;
    }
}

@media only screen and (min-width:1024px) {
    .item_index{
        display: flex;
        flex-direction: row-reverse;
        background-image: url(../Multimedias/valentine-day-romantic-background-free-photo.jpg);
        background-size: cover;
        
    }
    
    li { font-size: 17px;}
    
    .item {
        display: flex;
        text-align: center;
        flex-direction: row;
        margin-top: 40px;
        gap: 15px;
    }
    
    .titulo_index 
        { font-size: 35px;
        text-align: center;
        display: block;
        width: min-content;
        font: cursiva;
        font-style: italic;
        margin-top: 80px;
        max-width: min-content;
        padding-right: 10px;
        }
    
    .nav_index{
        grid-area: nav;
        display: flex;   
        height: 200px; 
    }
    
    .subtitulo{ 
        grid-area: subtitulo;
        text-align: center;
        display: block;
    }
    
    .subtitulo_indumentariayaccesorios{
        grid-area: subtitulo_indumentariayaccesorios;
        text-align: center;
        display: block;
    }
    
    .contenido_mujer{
        grid-area: contenido_mujer;
        text-align: center;
        max-width: min-content;
        text-align: justify;
    }
    
    .contenido_hombre{
        grid-area: contenido_hombre;
        text-align: center;
        max-width: min-content;
        text-align: justify;
        margin-left: 40px;}
        
    
    .contenido_ninos{
        grid-area: contenido_ninos;
        text-align: justify;
        max-width: min-content;
        margin-bottom: 60px;
    }
    
    .contenido_accesorios{
        grid-area: contenido_accesorios;
        justify-content: center;
        max-width: min-content;
        text-align: justify;
        margin-left: 20px;
    
    }
    
    .section_index{
        text-align: center;
    }
    
    .contenedor_index{
       display: flex;
       flex-direction: row;
       gap: 25px;
       flex-wrap: wrap;
       margin-top: 50px;
       justify-content: space-around;
       margin-bottom: 18px;
    }
    
    .tituloventa{
        text-align: center
    }
    
    .section_index{
        display: flex;
        flex-direction: column;
    }
    
    .imagen1{
        width: 140px;
    }
    
    .fotohombre{
        width: 208px;
         justify-content: center;
    }
    
    .imagen3{
        width: 230px;
    }
    
    .imagen4{
        width: 330px;
    
    }
    
    footer{
        grid-area: footer;
        background-size: cover;
    }
    
    ul{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .tituloredes{
        width: min-content;
    }
    .face{
        width: 50px;
    }
    .insta{
        width: 50px;
    }
    .correo{
        width: 50px;
    }
    .wpp{
        width: 50px;
    }
}